<div class="row container">
  <div class="col-md-2" data-aos-delay="1000" data-aos="flip-left" data-aos-easing="ease-out-cubic"
    data-aos-duration="1000"><img style="width: 200px; margin-left: 25px;" src="/assets/logoAlpha.png"> </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-7 ajs-top">
    <button (click)="abrirModal()" class="btn btn-sair">
      <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
        transform="rotate(180)">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path d="M12 20C7.58172 20 4 16.4183 4 12C4 7.58172 7.58172 4 12 4" stroke="#1C274C" stroke-width="1.5"
            stroke-linecap="round"></path>
          <path d="M10 12H20M20 12L17 9M20 12L17 15" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round"></path>
        </g>
      </svg>
      Logout
    </button>
    <h1>Produtos</h1>
    <h3>Total de produtos: {{totalRegistros}}</h3>
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-7">
    <mat-form-field class="ajs-input" appearance="fill">
      <mat-label><i class='bx bx-search'></i> Pesquisar</mat-label>
      <input matInput placeholder="Pesquise aqui" (input)="filtrarProdutos($event)" class="cor-input">
    </mat-form-field>
  </div>
  <div class="col-md-2 ajs-top">
    <button (click)="openDialogCadastro()" class="btn">
      <span>Adicionar</span>
      <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path opacity="0.4"
            d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2Z"
            fill="#292D32"></path>
          <path
            d="M16 11.25H12.75V8C12.75 7.59 12.41 7.25 12 7.25C11.59 7.25 11.25 7.59 11.25 8V11.25H8C7.59 11.25 7.25 11.59 7.25 12C7.25 12.41 7.59 12.75 8 12.75H11.25V16C11.25 16.41 11.59 16.75 12 16.75C12.41 16.75 12.75 16.41 12.75 16V12.75H16C16.41 12.75 16.75 12.41 16.75 12C16.75 11.59 16.41 11.25 16 11.25Z"
            fill="#292D32"></path>
        </g>
      </svg>
    </button>
  </div>
</div>
<div class="row container">
  <div class="col-md-2"></div>
  <div class="col-md-10" style="overflow-x: auto; overflow-y: auto; max-height: 420px;">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="preco">
        <th mat-header-cell *matHeaderCellDef> Preço </th>
        <td mat-cell *matCellDef="let element"> {{element.price | currency:'BRL':'symbol':'1.2-2' }} </td>
      </ng-container>

      <ng-container matColumnDef="estoque">
        <th mat-header-cell *matHeaderCellDef> Estoque </th>
        <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
      </ng-container>
      <ng-container matColumnDef="detalhe">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <button class="btn btn-acoes" (click)="openDetalhe(element)">
            <span>Detalhe</span>
            <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <path opacity="0.4"
                  d="M11.5 21C16.7467 21 21 16.7467 21 11.5C21 6.25329 16.7467 2 11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21Z"
                  fill="#292D32"></path>
                <path
                  d="M21.3005 22.0001C21.1205 22.0001 20.9405 21.9301 20.8105 21.8001L18.9505 19.9401C18.6805 19.6701 18.6805 19.2301 18.9505 18.9501C19.2205 18.6801 19.6605 18.6801 19.9405 18.9501L21.8005 20.8101C22.0705 21.0801 22.0705 21.5201 21.8005 21.8001C21.6605 21.9301 21.4805 22.0001 21.3005 22.0001Z"
                  fill="#292D32"></path>
                <path
                  d="M14.1992 10.95H12.4492V9.19995C12.4492 8.78995 12.1092 8.44995 11.6992 8.44995C11.2892 8.44995 10.9492 8.78995 10.9492 9.19995V10.95H9.19922C8.78922 10.95 8.44922 11.29 8.44922 11.7C8.44922 12.11 8.78922 12.45 9.19922 12.45H10.9492V14.2C10.9492 14.61 11.2892 14.95 11.6992 14.95C12.1092 14.95 12.4492 14.61 12.4492 14.2V12.45H14.1992C14.6092 12.45 14.9492 12.11 14.9492 11.7C14.9492 11.29 14.6092 10.95 14.1992 10.95Z"
                  fill="#292D32"></path>
              </g>
            </svg>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <button class="btn btn-acoes" (click)="openDialogCadastro(element)">
            <span>Editar</span>
            <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <path opacity="0.15" d="M4 20H8L18 10L14 6L4 16V20Z" fill="#000000"></path>
                <path d="M12 20H20.5M18 10L21 7L17 3L14 6M18 10L8 20H4V16L14 6M18 10L14 6" stroke="#000000"
                  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </g>
            </svg></button>
        </td>
      </ng-container>
      <ng-container matColumnDef="excluir">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <button class="btn btn-acoes" (click)="excluir(element.id)">
            <span>Excluir</span>
            <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <path opacity="0.15" d="M8 6H19C19.5523 6 20 6.44772 20 7V17C20 17.5523 19.5523 18 19 18H8L2 12L8 6Z"
                  fill="#000000"></path>
                <path
                  d="M16 9L13.0001 11.9999M13.0001 11.9999L10 15M13.0001 11.9999L10.0002 9M13.0001 11.9999L16.0002 15M8 6H19C19.5523 6 20 6.44772 20 7V17C20 17.5523 19.5523 18 19 18H8L2 12L8 6Z"
                  stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </g>
            </svg></button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
<div class="row" *ngIf="mostrarModal">
  <div class="col-md-12">
    <div class="full-screen-form">
      <div class="content">
        <h2>Deseja realmente sair?</h2>
        <div class="button-group">
          <button type="button" class="btn" (click)="fecharModal()">Cancelar</button>
          <button class="btn btn-confirmar" mat-button (click)="confirmarSair()">Confirmar</button>
        </div>
      </div>
    </div>
    
  </div>
</div>